<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo 1</title>
</head>
<body>

        <h1>Welcome to thymeleaf</h1>
        <h4>Method 1 : </h4>
        <ul>
            <li th:text="${message}"></li>
            <li th:utext="${message}"></li>  <!--unescape test-->
        </ul>
        <h4>Method 2: </h4>
        <ul>
            <li>[[${message}]]</li>
            <li>[(${message})]</li>
        </ul>
</body>
</html>